<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Molewakamole</title>
    <link rel="stylesheet" href="/css/term.css">
</head>
<body>
    <pre>
<fn_name>id</fn_name>: <number>{{ user.id }}</number>
<fn>login</fn>: <string>{{ user.username }}</string>
<fn>name</fn>: <string>{{ user.displayName }}</string>
<fn>mail</fn>: <string>{{ user.emails.0.value }}</string>
<fn>phone</fn>: <string>{{ user.phoneNumbers.0.value }}</string>
    </pre>
</body>
</html>